body {
    font-family: 'Asap', sans-serif;
    color: white;
    background-color: #EBEBEB;
}

.header-container {
    background-color: rgb(60, 60, 60);
    min-height: 100px;
    position: fixed;
    width: 100%;
}

header {
    max-width: 1024px;
    display: flex;
    margin: 0 auto;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;

}

.header-logo span {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #fff;
}

nav a{
    border: 1px solid #fff;
    padding: 10px 25px;
    margin-left: 20px;
}

main {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 140px;
    justify-content: space-between;
}

.card {
    width: 30%;
    margin-bottom: 40px;
    background-color: rgb(43, 226, 147);
}

.card img {
    width: 100%;
}

.card p {
    padding: 20px 25px;
    line-height: 1.25rem;
    font-size: 0.8rem;
}
.menu-bar {
    display: none;
    width: 40px;
    padding-right: 30px;
    
}
.menu-bar i{
  color: coral;
  font-size: 3rem;
    
}


@media (max-width: 768px) {
 .card {
     width: 47%;
 }

 .menu-bar {
    display: block;
}

.mobile-nav {
    display: none;
    position: absolute;
    width: 130px;
    height: 150px;
    background-color: coral;
    margin-top: 250px;
    right: 5px;
    text-align: center;
    
}
.mobile-nav a {
    border: none;
    line-height: 3rem;
    margin-left: 0;
}
}

@media (max-width: 400px) {
    .card {
        width: 100%;
    }
    .menu-bar {
        display: block;
    }
    .mobile-nav {
        display: none;
        position: absolute;
        width: 130px;
        height: 150px;
        background-color: coral;
        margin-top: 250px;
        right: 5px;
        text-align: center;
        
    }
}